#footer__container {
    background: var(--card-color);
}

.footer__first-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 80px;
    border-bottom: 1px solid var(--subtitle-color);
}

.footer__arrow {
    background: var(--color-logo);
    padding: 30px;
}

.footer__novidades {
    width: 400px;
    padding: 80px;
    border-right: 1px solid var(--subtitle-color);
}

.footer__novidades-description {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 25px;
}

.footer__novidades-description b {
    color: var(--color-logo);
    display: block;
}

.footer__novidades-input {
    padding: 0 25px;
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    height: 66px;
    color: var(--subtitle-color);
    background: var(--color-input);
    border: none;
    align-items: center;
}

.footer__novidades-inputgroup {
    display: flex;
    flex-direction: row;
}

.footer__novidades-input::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__novidades-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    width: 122px;
    color: var(--color-input);
}

.footer__second-line {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--subtitle-color);
}





.footer__lista-link__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
    width: 100%;
}

.footer__lista-link__container h4 {
    margin-bottom: 15px;
}

.footer__lista-link__container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__lista-link__items {
    display: flex;
    flex-direction: column;
    color: var(--subtitle-color);
    font-size: 20px;
    font-weight: 400;
}

.footer__third-line {
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    color: var(--subtitle-color);
}

.footer__social-media {
    display: flex;
    flex-direction: row;
    gap: 50px;
}