#header__container {
    background: url("../../public/img/background.png") no-repeat center center/cover;
    padding: 0 100px;
    height: 100vh;
}

.logo:hover {
    cursor: pointer;
}

#navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}

.header__menu {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.header__menu-items {
    color: var(--text-color);
}

.header__wallet {
    color: var(--color-input);
    background: var(--text-color);
    display: flex;
    gap: 10px;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

#header__showcase__container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    height: auto;
    padding: 2em 0;
}

.header__showcase__group {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}

.header__showcase__group:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.header__showcase__group:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__group__title {
    font-weight: 700;
    font-size: 50px;
    color: var(--text-color);
}

.header__group__description {
    width: 400px;
}

.header__group__title b {
    color: var(--color-logo);
}

.header__group__artist {
    display: flex;
    flex-direction: row;
}

.header__artist-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#header__gallery__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    justify-items: center;
    padding: 2em 0;
}

.header__gallery-items {
    border: 1px solid var(--text-color);
    width: auto;
    height: auto;
}

.header__gallery-items:hover {
    cursor: pointer;
}